# Identifiants utilisateur (id -u et id -g)
PUID=1000
PGID=1000

# Fuseau horaire
TZ=Europe/Paris

# Configuration WireGuard
SERVERURL=X.X.X.X # Votre IP Publique ou nom de domaine
SERVERPORT=51820
PEERS=1 # Nombre d'utilisateurs VPN que vous voulez crée
INTERNAL_SUBNET=10.13.13.0
ALLOWEDIPS=0.0.0.0/0

# Configuration Pi-hole
# Mot de passe pour l'interface web admin
WEBPASSWORD=motdepassesecurise
